.error{
  color: #b94a48;
  border-color: #b94a48 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;  
}

.text-error {
  color: #b94a48;
}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #b94a48 !important;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
    border-color: #b94a48 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
}

.bg-white{
  background-color: #FFFFFF;
}
.row-min-h{
  min-height: 550px;
}
.row-min-h300{
  min-height: 300px;
}
.row-min-h350{
  min-height: 350px;
}
.row-min-h200{
  min-height: 200px;
}

.cursor-hand{
	cursor: pointer;	
}
.font-white{
	color: #FFFFFF !important;
}
.p-10{
	padding: 10px;
}
#countdown {
  
}