<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<head>
	<body style="width: 500px;">
		<table>
			<tr>	
				<td colspan="2">  <img style="width:100%;" src="http://www.taccsi.com/images/header_mail.png"></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align:left;font-size:18px;">
					<span>Bienvenido : @_nombre_@</span>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<span style="text-align:center;font-weight: bold;font-size: 17px;">Gracias por registrarse en taccsi</span>
					<p>	No esperes mas para activarte. Estas son los requisitos que te hacen falta para activarte.</span>
						<span>Envianos los siguientes documentos:</span><br/><br/>
							- Licencia de conducir.<br/>
							- Identificación.<br/>
							- Comprobante de domicilio fiscal.<br/>
							- RFC o alta en hacienda.<br/>
							- Comprobante de domicilio.
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="background-color: #181a1c;border: 1px solid #fece1a;color: #fece1a;text-align: center;transition: border-color 1s ease 0s;">
					Información de Acceso
				</td>
			</tr>	
			<tr>	
				<td colspan="2">
					<br/>
				</td>
			</tr>				
			<tr>
				<td>Usuario:</td><td>@_usuario_@</td>
			</tr>	
			<tr>
				<td>Contraseña:</td><td>@_password_@</td>
			</tr>			
			<!--
			<tr>
				<td colspan="2"style="border: 1px solid #fece1a;text-align: center;transition: border-color 1s ease 0s;">
					<span style="font-weight: bold;font-size: 17px;">Recuerda descargar nuestra aplicación:</span><br>					
				</td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align:center;"><a href=""><img src="/images/assets/esAppStore.png"/></a></td>
				<td style="text-align:center;"><a href=""><img src="/images/assets/esGooglePlay.png"/></a></td>
			</tr>
			-->
			<tr>	
				<td colspan="2">
					<br/>
				</td>
			</tr>		

			<tr>	
				<td colspan="2"> <small>Aviso: Este correo electrónico y sus archivos, pueden contener información de carácter confidencial y privado para uso exclusivo del destinatario. Si usted no es el destinatario a quien se dirige el presente correo electrónico, favor de contactar al remitente respondiendo al presente correo y eliminar el correo original incluyendo sus archivos, así como cualesquiera copia del mismo. A través de este correo se le notifica que está estrictamente prohibida su distribución, copia, o cualquier uso de este correo electrónico y sus archivos. Gracias.</small></td>
			</tr>					

		</table>
	</body>
</html>